/*-------------
 	Footer
-------------*/
.content a{
    font-size: 32px;
    margin: 0 8px;	
    .facebook{
        color: $facebook-color;
    }
    .twitter{
        color: $twitter-color;
    }
    .youtube{
        color:$youtube-color;
    }
    .phone{
        color: $green-color;
    }
    .envelope{
        color: $pink-color; 
    }
}