/*----------------------
 	Nosotros Section
----------------------*/

.nosotros .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.nosotros .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.nosotros .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.nosotros .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.nosotros .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.nosotros .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.nosotros .grid li{
		flex-basis: 100%;
	}

}