/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

body{
	background-color: #fff;
}

hr{
	width: 100px;
	height: 2px;
	background-color: $green-color;
	border: 0;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}

section{
	padding: 125px 100px;
	p{
		margin-bottom: 35px;
	  }
}

@media only screen and (min-width : 1025px) {
    section{
		padding: 216px 100px;
	}
}


@media only screen and (max-width : 1024px) {
    section{
		padding: 110px 100px;
	}
}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

.strongMotiva{
	color: $pink-color;
}

.motiva-appear {
	opacity: 0.01;
  }
  
  .motiva-appear.motiva-appear-active {
	opacity: 1;
	transition: opacity .5s ease-in;
  }
