// Colors
$dark-grey: #333;
$pink-color: #ff2e7b;
$green-color: #28998b;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$youtube-color: #cc181e;
//font Size
$font-size-large:1.8rem;
$font-size-small:1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
